*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('background_pic.avif');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
form{
    background-color: green;
    border-radius: 8px;
    width: 50%;
    height: 70vh;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.form-container h1{
    color: white;
    font-family: Arial;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}
.form-container label{
    color: white;
    font-family: Arial;
    font-size: 30px;
    margin: 10px;
}
.form-container input{
    border-radius: 16px;
    font-size: 20px;
    height: 50px;
    background-color: black;
    color: orange;
    font-family: Arial;
    font-weight: bold;
}
.form-container button{
    border-radius: 16px;
    border-style: none;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 50px;
    background-color: blue;
    color: bisque;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    transition: background-color 0.75s,color 0.75s;
}
.form-container button:hover{
    background-color: bisque;
    color: blue;
}

@media only screen and (max-width: 1200px){
    .form-container h1{
        font-size: 30px;
    }
    .form-container label{
        font-size: 15px;
    }
    .form-container input{
        font-size: 15px;
        height: 40px;
    }
    .form-container button{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
}